<form action="/recruiter/profile" method="POST">
    <label>Company Name: <input type="text" name="companyDetails[name]" required></label><br>
    <label>Website: <input type="text" name="companyDetails[website]"></label><br>
    <label>Description: <textarea name="companyDetails[description]"></textarea></label><br>
    <label>Location: <input type="text" name="companyDetails[location]"></label><br>
    <label>Industry: <input type="text" name="companyDetails[industry]"></label><br>
    <label>Company Size: <input type="text" name="companyDetails[size]"></label><br>
    <label>Your Designation: <input type="text" name="designation" required></label><br>
    <button type="submit">Save Profile</button>
</form>
