<form action="/job/create" method="POST">
    <input type="text" name="jobTitle" placeholder="Job Title" required />
    <textarea name="jobDescription" placeholder="Job Description"></textarea>

    <input type="text" name="company" placeholder="Company Name" required />
    <input type="text" name="location" placeholder="Location" required />
    <input type="text" name="salaryRange" placeholder="Salary Range (e.g. 3-5 LPA)" required />

    <label>Select Rounds:</label><br>
    <input type="checkbox" name="selectedRounds" value="MCQ" /> MCQ<br>
    <input type="checkbox" name="selectedRounds" value="DSA" /> DSA<br>
    <input type="checkbox" name="selectedRounds" value="Grammar" /> Grammar<br>
    <input type="checkbox" name="selectedRounds" value="Apti" /> Apti<br>

    <button type="submit">Create Job</button>
</form>
